/*slidemenu */
.slidemenu {
  width: 50%;
  margin: 0 auto; }
  .slidemenu:after {
    content: "";
    display: table;
    clear: both; }
  .slidemenu label {
    width: 20%;
    float: left;
    box-sizing: border-box;
    text-align: center;
    padding: 15px;
    opacity: 0.5;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    font-size: 12px;
    font-weight: 600; }
    .slidemenu label i {
      height: 35px;
      width: 35px;
      display: block;
      margin: 0 auto 10px auto; }
    .slidemenu label:hover {
      cursor: pointer;
      opacity: 0.7; }
  .slidemenu .slider {
    background: #ccc;
    height: 5px;
    border-radius: 5px;
    clear: both; }
    .slidemenu .slider .bar {
      background: #333;
      height: 5px;
      width: 20%;
      border-radius: 5px;
      margin-left: 0;
      -webkit-transition: all 0.15s ease-out 0s;
      -moz-transition: all 0.15s ease-out 0s;
      transition: all 0.15s ease-out 0s; }
  .slidemenu input[type="radio"] {
    display: none; }
  .slidemenu #one:checked ~ .slider .bar {
    margin-left: 0; }
  .slidemenu #two:checked ~ .slider .bar {
    margin-left: 25%; }
  .slidemenu #three:checked ~ .slider .bar {
    margin-left: 50%; }
  .slidemenu #four:checked ~ .slider .bar {
    margin-left: 75%; }
  .slidemenu #one:checked + label {
    opacity: 1; }
  .slidemenu #two:checked + label {
    opacity: 1; }
  .slidemenu #three:checked + label {
    opacity: 1; }
  .slidemenu #four:checked + label {
    opacity: 1; }
  @media screen and (max-width: 780px) {
    .slidemenu {
      width: 90%; } }
  @media screen and (max-width: 780px) and (max-width: 500px) {
    .slidemenu label span {
      display: none; } }