<!DOCTYPE html>
<html>
<head>
  <title>Slide-Menu</title>
  <link rel="stylesheet" type="text/css" href="css/slidemenu.css">
</head>
<body>

  <div class="slidemenu">
    <input type="radio" name="menu" id="one" checked>
    <label for="one"><i>{% include icons/phone.svg %}</i><span>Home</span></label>
    <input type="radio" name="menu" id="two">
    <label for="two"><i>{% include icons/tablet.svg %}</i><span>About</span></label>
    <input type="radio" name="menu" id="three">
    <label for="three"><i>{% include icons/wearable.svg %}</i><span>Folio</span></label>
    <input type="radio" name="menu" id="four">
    <label for="four"><i>{% include icons/accessories.svg %}</i><span>Blog</span></label>   
    <input type="radio" name="menu" id="five">
    <label for="five"><i>{% include icons/accessories.svg %}</i><span>Contact</span></label>  
    <div class="slider">
      <div class="bar"></div>
    </div>
  </div>

</body>
</html> 